.form__btn {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  transition: opacity .8s ease 0s;
  border: none;
  padding: 0;
  margin-top: 18px;
}

.form__btn:hover {
  opacity: .8;
  cursor: pointer;
}
