.profile__add-btn {
  background-color: #000;
  background-image: url('../../../images/add-btn.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  padding: 0;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

@media (max-width: 850px) {
  .profile__add-btn {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;

  }
}

@media (max-width: 650px) {
  .profile__add-btn {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
