.profile {
  max-width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  gap: 30px;
  align-items: center;
}

@media (max-width: 850px) {
  .profile {
    margin-top: 42px;
    grid-template-columns: 120px 1fr;
    gap: 26px;
    font-size: 27px;
    line-height: 33px;
    padding: 0 19px;
  }
}

@media (max-width: 650px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}
