.photo-card__btn_delete {
  display: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url('../../../../images/delete-btn.svg');
  width: 18px;
  height: 19.3px;
}

.photo-card__btn_delete:hover {
  opacity: .6;
}
