.popup__btn_delete {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
}


@media (max-width: 600px) {
  .popup__btn_delete  {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
