.form__input {
  width: 100%;
  padding: 0;
  padding-bottom: 7px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
}
